$bg_base: #fff;

$font_read: 'Montserrat', sans-serif;
$font_title: 'Fraunces', serif;

$cl_primary: hsl(158, 36%, 37%);
$cl_secondary: hsl(30, 38%, 92%);
$cl_gray: hsl(228, 12%, 48%);
$cl_gray_darken: hsl(212, 21%, 14%);
$cl_white: #fff;

// break point
$smallphone: 390px;
$mntablet: 768px; 
$mdtablet: 990px; 
$desktop: 1024px;
$desktopxl: 1300px;
$desktophd: 1900px;